; Copyright (c) 2014 Pranav Kulkarni
; See the file license.txt for copying permission.
[user]
	name = Pranav Kulkarni
	email = pranavcode@gmail.com
[core]
	editor = nano
	autocrlf = false
	fileMode = false
	repositoryFormatVersion = 0
	symlinks = true
	logAllRefUpdates = true
	excludesfile = /home/pranav/.gitignore_global
[color]
	ui = true
[rebase]
	autosquash = true
[credential]
	helper = cache --timeout=86400
[push]
	default = simple
[branch "master"]
	remote = origin
	merge = refs/heads/master
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
